<h1><%= @user.username %></h1>
<h3>Here are your photo albums:</h3>
<div class="btn-group">
<%= link_to "Create an album", new_album_path, :class => "btn btn-primary" %>
</div>

<% @user.albums.each do |album| %>
  <%= render album %>
<% end %>
