<h1><%= @user.username %></h1>
<% if @user.errors.any? %>
  <h3>Please correct these problems:</h3>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <li><%= message %></li>
      </div>
    <% end %>
  </ul>
<% end %>

<h3>Here are your photo albums:</h3>
<div class="btn-group">
<%= link_to "Create an album", new_album_path, :class => "btn btn-primary" %>
</div>

<% @user.albums.each do |album| %>
  <%= render album %>
<% end %>
