<div class="photo">
  <%= link_to (image_tag photo.image.url(:medium)), photo %>
  <div>
    <%= link_to photo.name, photo %>
    <%= photo.created_at.strftime("Uploaded on %B %e, %Y") %>
  </div>
</div>