<h1>Add a photo</h1>
<% if @photo.errors.any? %>
  <h3>Please correct these problems:</h3>
  <ul>
    <% @photo.errors.full_messages.each do |message| %>
      <li class="alert alert-danger"><%= message %></li>
    <% end %>
  </ul>
<% end %>
