@import 'bootstrap';

.btn-group {
  padding-top: 5px;
  padding-bottom: 25px;
}

.album-listing {
  font-size: 3em;
}

ul {
  list-style-type: none;
}

.btn {
  margin-top: 5px;
}

.new_form {
  padding-top: 8px;
}